.expensesTable {
  margin: 20px auto;
  padding: 10px;
  width: 90%;
}

.expensesTable td , .expensesTable th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.expensesTable tr:nth-child( even ) { background-color: #f2f2f2;}

.expensesTable tr:hover { background-color: #ddd;}

.expensesTable th {
  background-color: #04aa6d;
  color: white;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
}
